# Archivos pesados
*.bin
*.tar
*.tar.gz
*.tgz

# Datos temporales de Hadoop
data/
hadoopdata/
logs/
tmp/
*.log
*.pid

# Archivos generados por Hadoop
.DS_Store
Thumbs.db

# Configuración local de editores
.vscode/
.idea/

# Configuraciones locales de Docker
docker-compose.override.yml

# Evidencias temporales
laboratorio1/evidencias/*.tmp
# Laboratorio 3 - certificados y claves privadas
laboratorio3/modulo-a-tls/certificados/**/*.key
laboratorio3/modulo-a-tls/certificados/**/*.p12
laboratorio3/modulo-a-tls/certificados/**/*.jks
laboratorio3/modulo-a-tls/certificados/**/*.srl

# Capturas de red
laboratorio3/**/*.pcap
laboratorio3/**/*.pcapng
